<footer class="footer py-3 bg-info text-dark fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>&copy; 2024 Your Company</p>
      </div>
      <div class="col-md-6 text-md-end">
        <a href="https://www.instagram.com/yourinstagram" class="text-white me-3">
          <i class="bi bi-instagram"></i> Instagram
        </a>
      </div>
    </div>
  </div>
</footer>
